

<h3 class="border-bottom pb-2"><b>Dodaj trase</b></h3>


<form class="d-flex flex-column p-2 justify-content-start align-items-start" [formGroup]="traceForm">

  <div class="row">



    <div class="row">
    <label class="col-2">Kontraktor</label><select class="form-control col"  formControlName="ContractorId">
  <option></option>
  <option *ngFor="let contractor of contractors" value="{{contractor.id}}"  >{{contractor.name}}</option>
</select>
    </div>
    <div class="row">
      <label class="col-2">Lokalizacja początkowa</label><select class="form-control col" formControlName="StartLocation">
        <option></option>
        <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
      </select>
    </div>
    <div class="row">
      <label class="col-2">Lokalizacja końcowa</label><select class="form-control col" formControlName="FinishLocation">
        <option></option>
        <option *ngFor="let location of locations" value="{{location.id}}">{{location.name}}</option>
      </select>
    </div>
    <div class="row"><label class="col-2">Dystans</label><input class="form-control col" type="number" placeholder="Dystans" formControlName="distance" /> </div>
    <div class="row"><label class="col-2">Czas podróży</label><input class="form-control col" type="time" placeholder="Czas" formControlName="TravelTime" /> </div>

    <div class="d-flex justify-content-end mt- ">
      <div class="buttondiv">
        <button class="btn btn-success m-2 col" (click)="OnAdd()">Dodaj Trasę</button>
        <button class="btn btn-warning m-2 col" (click)="Back()">Powrót do listy</button>
        <button class="btn btn-light m-2 col" (click)="Resignate()">Rezygnacja</button>
      </div>
    </div>
  </div>
</form>

