<!-- Section: Design Block -->
<section class=" text-center text-lg-start">

  <div class="card mb-3">
    <div class="row g-0 d-flex align-items-center">
      <div class="col-lg-2 d-none d-lg-flex">
        <img src="" alt="LOGO"
             class="w-100 rounded-t-6 rounded-tr-lg-0 rounded-bl-lg-5" />
      </div>
      <div class="col-lg-8">
        <div class="card-body py-5 px-md-5">
          <form [formGroup]="loginform">
            <div class="form-group pt-3" [class.error]="loginform.controls['username'].dirty && loginform.hasError('required','username')">
              <div class="form-check-input-field" >
                <span class="fa fa-user p-2"></span>
                <input formControlName="username" type="text"  placeholder="Username" />

              </div>
            </div>
            <small *ngIf="loginform.controls['username'].dirty && loginform.hasError('required','username')" class="text-danger">*Nazwa użytkownika jest wymagana</small>
            <div class="form-group pt-3" [class.error]="loginform.controls['password'].dirty && loginform.hasError('required','password')">
              <div class="input-field" >
                <span class="fa fa-lock p-2" ></span>
                <input formControlName="password" [type]="type"  placeholder="Password" />
                <span (click)="Showpass()" class=""></span>
              </div>
            </div>
            <small *ngIf="loginform.controls['password'].dirty && loginform.hasError('required','password')" class="text-danger">*Hasło jest wymagane</small>
            <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
