

<h3 class="border-bottom pb-2"><b>Szczegóły pojazdu</b></h3>

<form class="d-flex flex-column p-2 justify-content-start align-items-start"  *ngFor="let car of useredit" [formGroup]="updateform">
  <section class="d-flex flex-column p-2 justify-content-start align-items-start"  >
    
    <div class="row">
      <div class="row"><label class="col-2">Kierowca</label><select class="form-control col" formControlName="Driver" [(ngModel)]="car.driver">
  <option *ngFor="let driver of Driverer" value="{{driver.id}}">{{driver.login}}</option>
  <option *ngFor="let driver of Drivers" value="{{driver.id}}">{{driver.login}}</option>
</select></div>
      <div class="row"><label class="col-2">Numer rejestracyjny</label><input class="form-control col" type="text" formControlName="Registration_Number" [(ngModel)]="car.registration_number" /> </div>
      <div class="row"><label class="col-2">Przebieg</label><input class="form-control col" type="text" formControlName="Mileage" [(ngModel)]="car.mileage" /> </div>
      <div class="row"><label class="col-2">Data zakupu</label><input class="form-control col" type="date" formControlName="Buy_Date" [(ngModel)]="car.kupno" /> </div>
      <div class="row"><label class="col-2">Ładowność</label><input class="form-control col" type="text" formControlName="Loadingsize" [(ngModel)]="car.loadingsize" /> </div>
      <div class="row">
        <label class="col-2">Czy dostępny?</label><select class="col form-control" formControlName="Is_Truck" [(ngModel)]="car.iS_truck">
          <option value="true">Tak</option>
          <option value="false">Nie</option>
        </select>
      </div>
      <div class="row">
        <label class="col-2">Czy ciężarówka?</label><select class="col form-control" formControlName="IsAvailable" [(ngModel)]="car.is_available">
          <option value="true">Tak</option>
          <option value="false">Nie</option>
        </select>
      </div>

      <div class="d-flex justify-content-end mt-5 ">
        <div class="buttondiv m-t">
          <button class="btn btn-success m-2 col" (click)="EditCar()">Edytuj pojzad</button>
          <button class="btn btn-warning m-2 col" (click)="Back()">Powrót do listy</button>
          <button class="btn btn-light m-2 col" (click)="Resignate()">Rezygnacja</button>
        </div>
      </div>
    </div>
  </section>
</form>
