<section>


  <div class="d-flex justify-content-center mt-5">

    <table class="text-center table table-bordered table-striped">

      <thead>
        <tr>
          <th colspan="6">

            <h4 class="d-flex px-5">Użytkownicy</h4>

          </th>
          <th>

            <div class="d-flex justify-content-center  align-items-center py-1">
              <input type="search" placeholder="Szukaj użytkowników" class="text-center  col col-lg-10   m-0" />
              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search col col-lg-1 m-0" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg>
            </div>

          </th>
        </tr>
      </thead>

      <thead>
        <tr>
          <th>lp</th>
          <th>Użytkownik</th>
          <th>Czy Kierowca</th>
          <th>Numer Telefonu</th>
          <th>W firmie</th>
          <th>Czas przerwy</th>
          <th>Kategoria prawa jazdy</th>
        </tr>
      </thead>

      <tbody >
        <tr *ngFor="let user of users">
          <td><div class="d-flex justify-content-center"><button class="btn btn-outline-secondary">Pokaż</button><button class="btn btn-outline-secondary">Usuń</button></div></td>
          <td>{{user.login}}</td>
          <td>{{user.is_driver}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.is_in_base}}</td>
          <td>{{user.pause_time}}</td>
          <td>{{user.licence}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--
  <ul *ngFor="let user of users">
    <li>Login, Hasło</li>
    <li>{{user.login
            }}, {{user.pass}}</li>
            </ul>
            -->


            <div class="d-flex justify-content-center">
              <button class="btn btn-success m-1">Dodaj użytkownika</button>
              <button class="btn btn-danger m-1">Usuń użytkownika</button>
              <button class="btn btn-warning m-1">Modyfikuj użytkownika</button>
            </div>


</section>
