

<h3 class="border-bottom pb-2"><b>Dodawanie pojazdu</b></h3>

<form class="d-flex flex-column p-2 justify-content-start align-items-start">
  <section class="d-flex flex-column p-2 justify-content-start align-items-start">

    <div class="row">
      <div class="row"><label class="col-2">Kierowca</label><input class="form-control col" type="text" placeholder="" /></div>
      <div class="row"><label class="col-2">Numer rejestracyjny</label><input class="form-control col" type="text" placeholder="" /> </div>
      <div class="row"><label class="col-2">Przebieg</label><input class="form-control col" type="text" placeholder="" /> </div>
      <div class="row"><label class="col-2">Data zakupu</label><input class="form-control col" type="text" placeholder="" /> </div>
      <div class="row"><label class="col-2">Ładowność</label><input class="form-control col" type="text" placeholder="" /> </div>
      <div class="row"><label class="col-2">Czy dostępny?</label><input class="form-control col" type="text" placeholder="" /> </div>
      <div class="row"><label class="col-2">Czy ciężarówka?</label><input class="form-control col" type="text" placeholder="" /> </div>




      <div class="d-flex justify-content-end mt-4 ">
        <div class="buttondiv m-t">
          <button class="btn btn-success m-2 col" >Dodaj pojazd</button>
          <button class="btn btn-warning m-2 col" >Powrót do listy</button>
          <button class="btn btn-light m-2 col" >Rezygnacja</button>
        </div>
      </div>
    </div>
  </section>
</form>
